

@font-face {
    font-family: 'Bruno Ace SC';
    src: url('\\static\\fonts\\BrunoAceSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Zen_dot';
    src: url('\\static\\fonts\\ZenDots-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Syncopate-Bold';
    src: url('\\static\\fonts\\Syncopate-Bold.ttf') format('truetype');
}@font-face {
    font-family: 'Audiowide-Regular';
    src: url('\\static\\fonts\\Audiowide-Regular.ttf') format('truetype');
}



@font-face {
    font-family: 'Blinker-Thin';
    src: url('\\static\\fonts\\Blinker-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Blinker-Light';
    src: url('\\static\\fonts\\Blinker-Light.ttf') format('truetype');
    font-weight: 200;
}@font-face {
    font-family: 'Blinker-Regular';
    src: url('\\static\\fonts\\Blinker-Regular.ttf') format('truetype');
    font-weight: 300;

}@font-face {
    font-family: 'Blinker-SemiBold';
    src: url('\\static\\fonts\\Blinker-SemiBold.ttf') format('truetype');
    font-weight: 400;

}
@font-face {
    font-family: 'Blinker-Bold';
    src: url('\\static\\fonts\\Blinker-Bold.ttf') format('truetype');
    font-weight: 500;

}



:root{
    --Bruno-Ace-SC: 'Bruno Ace SC';
    --Zen_dot: 'Zen_dot';
    --Audiowide-Regular: 'Audiowide-Regular';
    --Syncopate-Bold: 'Syncopate-Bold';

    /* --Blinker-Thin: 'Blinker-Thin';
    --Blinker-Light: 'Blinker-Light';
    --Blinker-Regular: 'Blinker-Regular';
    --Blinker-Bold: 'Blinker-Bold'; */
    /* --Ubuntu-Bold: 'Ubuntu-Bold'; */
}

*{
    color: black;
    text-decoration: none;
    box-sizing: border-box;

    margin:  0;
    padding: 0;
    /* outline: 0; */
    background: none;
    border: none;
    outline: none;
    /* font-family: 'Bruno Ace SC'; */

}


html{
    margin: 0;
    height: 100%;
    max-width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background: black;
}

nav{
    padding: 10px;
    backdrop-filter: blur(15px);
    position: sticky;
    top: 0;

    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-family: var(--Bruno-Ace-SC);
    letter-spacing: 5px;
    font-size: 30px;
    color: white;
    font-weight: 500;
}
nav span a{
    text-transform: capitalize;
    font-family: var(--Bruno-Ace-SC);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}
nav>a{
    text-transform: capitalize;

    font-family: var(--Bruno-Ace-SC);
    font-size: 24px;
    color: greenyellow;
    font-weight: 500;
}

nav span{
    padding: 10px;
    /* border : 1px solid grey; */
}



.trending{
    margin-top: 50px;
    padding: 20px;

    display: grid;
}
.trending>h1{
    text-transform: uppercase;
    color:greenyellow;
    letter-spacing: 2px;
    font-family: var(--Audiowide-Regular);
    font-size: 40px;
}
.trending>h2{
    margin-top: 10px;
    margin-bottom: 50px;

    text-transform: capitalize;
    color: rgba(128, 128, 128, 0.5);
    font-family: var(--Bruno-Ace-SC);
    font-size: 22px;
}


.trending div{
    margin-top: 15px;
    overflow: hidden;

    border-radius: 9px;
    background: rgba(15, 15, 15, 0.5);
    column-gap: 10px;
    display: grid;
    grid-template-columns: 250px 1fr;
}
.trending img{
    width: 100%;
    height: 150px;

    object-fit: cover;
    object-position: center;
}
.trending span{
    padding: 10px;
}
.trending span h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    color:white;
    font-family: var(--Bruno-Ace-SC);
    font-size: 20px;
}
.trending p{
    margin-top: 10px;

    text-transform: capitalize;
    color:grey;
    color:greenyellow;
    font-family: var(--Bruno-Ace-SC);
    font-size: 18px;
}



footer{
    margin-top: 200px;
    padding: 100px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: greenyellow;
    height: fit-content;
    column-gap: 10px;
}


.fdiv1{
    display: flex;
    flex-direction: column;
}
.fdiv1 h1{
    letter-spacing: 5px;

    text-align: left;
    text-transform: uppercase;
    color: black;
    font-family: var(--Zen_dot);
    font-size: 30px;
}
.fdiv1 p{
    margin-top: 20px;

    text-wrap: balance;
    text-align: left;
    color: black;
    font-family: var(--Bruno-Ace-SC);
    font-size: 20px;
}

.fdiv2{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fdiv2 a{
    text-transform: capitalize;
    color: black;
    font-family: var(--Zen_dot);
    font-size: 26px;
}