

@font-face {
    font-family: 'Bruno Ace SC';
    src: url('\\static\\fonts\\BrunoAceSC-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Zen_dot';
    src: url('\\static\\fonts\\ZenDots-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Syncopate-Bold';
    src: url('\\static\\fonts\\Syncopate-Bold.ttf') format('truetype');
}@font-face {
    font-family: 'Audiowide-Regular';
    src: url('\\static\\fonts\\Audiowide-Regular.ttf') format('truetype');
}



@font-face {
    font-family: 'Blinker-Thin';
    src: url('\\static\\fonts\\Blinker-Thin.ttf') format('truetype');
    font-weight: 100;
}
@font-face {
    font-family: 'Blinker-Light';
    src: url('\\static\\fonts\\Blinker-Light.ttf') format('truetype');
    font-weight: 200;
}@font-face {
    font-family: 'Blinker-Regular';
    src: url('\\static\\fonts\\Blinker-Regular.ttf') format('truetype');
    font-weight: 300;

}@font-face {
    font-family: 'Blinker-SemiBold';
    src: url('\\static\\fonts\\Blinker-SemiBold.ttf') format('truetype');
    font-weight: 400;

}
@font-face {
    font-family: 'Blinker-Bold';
    src: url('\\static\\fonts\\Blinker-Bold.ttf') format('truetype');
    font-weight: 500;

}



:root{
    --Bruno-Ace-SC: 'Bruno Ace SC';
    --Zen_dot: 'Zen_dot';
    --Audiowide-Regular: 'Audiowide-Regular';
    --Syncopate-Bold: 'Syncopate-Bold';

    /* --Blinker-Thin: 'Blinker-Thin';
    --Blinker-Light: 'Blinker-Light';
    --Blinker-Regular: 'Blinker-Regular';
    --Blinker-Bold: 'Blinker-Bold'; */
    /* --Ubuntu-Bold: 'Ubuntu-Bold'; */
}

*{
    color: black;
    text-decoration: none;
    box-sizing: border-box;

    margin:  0;
    padding: 0;
    /* outline: 0; */
    background: none;
    border: none;
    outline: none;
    /* font-family: 'Bruno Ace SC'; */

}


html{
    margin: 0;
    height: 100%;
    max-width: 100%;
}
body{
    height: 100%;
    width: 100%;
    background: black;
}

nav{
    padding: 10px;
    backdrop-filter: blur(15px);
    position: sticky;
    top: 0;

    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h1{
    font-family: var(--Bruno-Ace-SC);
    letter-spacing: 5px;
    font-size: 30px;
    color: white;
    font-weight: 500;
}
nav span a{
    text-transform: capitalize;
    font-family: var(--Bruno-Ace-SC);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
}
nav>a{
    text-transform: capitalize;

    font-family: var(--Bruno-Ace-SC);
    font-size: 24px;
    color: greenyellow;
    font-weight: 500;
}

nav span{
    padding: 10px;
    /* border : 1px solid grey; */
}


.hero{
    position: relative;

    width: 100%;
    height: 1000px;
}

.hero img{
    position: absolute;
    z-index: 0;

    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;
}

.hero div{
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.8);
    position: relative;
}
.intro_text{
    margin-top: 150px;

    font-family: var(--Syncopate-Bold);
    font-family: var(--Zen_dot);

    letter-spacing: 2px;
    text-align: center;
    color: grey;
    font-size: 100px;
    text-transform: uppercase;
}
.hero p{
    margin-top: 30px;

    justify-self: center;
    max-width: 30ch;

    font-family: var(--Bruno-Ace-SC);
    color: white;
    text-wrap: balance;
    text-transform: capitalize;
    font-size: 30px;
}


.search{
    padding: 100px 0;

    border: 1px solid white;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

}
.center{
    margin-top: 30px;
    
    padding: 10px;
    border: 1px solid rgb(11, 11, 11);
    border: 1px solid rgba(255, 255, 255, 0.5);

    display: flex;
    flex-direction: column;
}
.center h1{
    text-align: center;
    font-family: var(--Audiowide-Regular);

    font-size: 36px ;
    color: white;
    text-transform: capitalize;
}
.center form{
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.center textarea{
    width: 100%;
    max-width: 500px;
    max-height: 250px;
    min-height: 100px;
    height: 200px;
    
    padding: 10px;
    border: 2px solid greenyellow;
    box-shadow: 0 0 5px 0 greenyellow;
    background: none;

    font-family: var(--Audiowide-Regular);
    color: white;
    font-size: 22px;
}
textarea::placeholder{
    color: grey;
    font-size: 20px;
}

.center form button{
    width : fit-content;
    padding: 10px ;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background : greenyellow;
    box-shadow: 0px 0px 5px 0 greenyellow;

    text-transform: uppercase;
    color: black;
    font-family: var(--Zen_dot);
    font-family: var(--Audiowide-Regular);
    font-size: 30px;
}


.top_games{
    padding: 100px 20px;
    box-shadow: 0px 0px 0px 2px greenyellow;

    display: grid;
}
.top_games>h1{
    letter-spacing: 5px;

    color:  white;
    text-transform: capitalize;
    font-family: var(--Bruno-Ace-SC);
    font-size: 40px;
}
.top_games p{
    text-transform: capitalize;
    color:  grey;
    font-family: var(--Audiowide-Regular);
    font-size: 26px;
}

.games{
    margin-top: 50px;

    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) );

}
#game_card{
    position: relative;
    overflow: hidden;
    cursor: pointer;

    display: grid;
    grid-template-rows: 300px auto;
}
#game_card:hover img{
    opacity: .5;
    scale: 1.1;
    transition: .3s ease;

}

#game_card img{
    grid-row: 1/-1;
    grid-column: 1/-1;

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.label{
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;

    background: rgba(0, 0, 0);
    width: fit-content;
    padding: 10px;
    border-bottom-left-radius: 12px;

    letter-spacing: 2px;
    text-transform: capitalize;
    color:greenyellow;
    font-family: var(--Zen_dot);
    font-size: 18px;
}
#game_card  span{
    grid-column: 1/-1;
    grid-row: 2/3;

    padding: 10px 0;
    background: rgba(0, 0, 0);
    backdrop-filter: blur(20px);
}
.info h1{
    margin-top: 3px;
    text-transform: capitalize;
    color:grey;
    font-family: var(--Bruno-Ace-SC);
    font-size: 18px;
}


.trending{
    /* margin-top: 100px; */
    padding: 100px 20px;
    border: 1px solid white;

    display: grid;
}
.trending>h1{
    text-transform: capitalize;
    color:greenyellow;
    letter-spacing: 2px;
    font-family: var(--Audiowide-Regular);
    font-size: 40px;
}
.trending>h2{
    margin-top: 10px;

    text-transform: capitalize;
    color: rgba(128, 128, 128, 0.5);
    font-family: var(--Bruno-Ace-SC);
    font-size: 22px;
}


.trending div{
    margin-top: 30px;
    overflow: hidden;

    border-radius: 9px;
    background: rgba(15, 15, 15, 0.5);
    column-gap: 10px;
    display: grid;
    grid-template-columns: 250px 1fr;
}
.trending img{
    width: 100%;
    height: 150px;
}
.trending span{
    padding: 10px;

}
.trending span h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    color:white;
    font-family: var(--Bruno-Ace-SC);
    font-size: 20px;
}
.trending p{
    margin-top: 10px;

    text-transform: capitalize;
    color:grey;
    font-family: var(--Bruno-Ace-SC);
    font-size: 18px;
}





.updates{

    width : 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 10px;
    column-gap: 20px;
    
    background : white;
}
.updates form{
    padding: 100px 20px;
    background: black;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.updates input{
    width: 100%;
    max-width: 650px;
    display: block;
    padding: 20px;
    box-shadow: 0 0 0px 2px greenyellow;

    text-decoration:none;
    text-transform: none;    
    color: white;
    font-family: var(--Bruno-Ace-SC);
    font-size: 24px;
}
.updates input::placeholder{
    color: white;
    font-size: 24px;
}
.updates textarea{
    width: 100%;
    max-width: 650px;
    min-width: 450px;

    max-height: 250px;
    min-height: 200px;
    padding: 10px;
    background: rgba(15, 15, 15, 0.5);
    box-shadow: 0 0 2px 0 grey;

    text-decoration:none;
    font-family: var(--Bruno-Ace-SC);
    color: grey;
    font-size: 20px;
    font-size: 24px;
}
.updates textarea::placeholder{
    color: white;
    color: grey;
    font-size: 20px;
}
.updates button{
    padding: 10px ;
    box-shadow: 0 0 0px 2px white;

    background: greenyellow;
    width : fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    letter-spacing: 3px;
    text-transform: uppercase;
    color: black;
    font-family: var(--Syncopate-Bold);
    font-size: 30px;
}


.updates div{
    padding: 100px 10px;
}
.updates h1{

    letter-spacing: 5px;
    text-transform: uppercase;
    color: greenyellow;
    text-shadow: 2px 2px 0 black;
    font-family: var(--Syncopate-Bold);
    font-family: var(--Zen_dot);

    font-size: 36px;
}
.updates p{
    margin-top: 25px;

    text-transform: capitalize;
    color: grey;
    font-size: 22px;
    font-family: var(--Syncopate-Bold);
    font-family: var(--Bruno-Ace-SC);
}




footer{
    padding:  10px;
    padding: 100px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: greenyellow;
    height: fit-content;
    column-gap: 10px;
}


.fdiv1{
    display: flex;
    flex-direction: column;
}
.fdiv1 h1{
    letter-spacing: 5px;

    text-align: left;
    text-transform: uppercase;
    color: black;
    font-family: var(--Zen_dot);
    font-size: 30px;
}
.fdiv1 p{
    margin-top: 20px;

    text-wrap: balance;
    text-align: left;
    color: black;
    font-family: var(--Bruno-Ace-SC);
    font-size: 20px;
}

.fdiv2{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fdiv2 a{
    text-transform: capitalize;
    color: black;
    font-family: var(--Zen_dot);
    font-size: 26px;
}