<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>GAMERSHUB | The Ultimate Gaming Destination</title> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <h1>playcave</h1>
        <span>
            <a href="">side quests</a>
        </span>
        <a href="">join the club</a>
    </nav>
    
    <main>

        <section class="top">
            <img src="static\images\Spider-Man.jfif" alt="">
            <div class="cover">

                <div class="info">
                    <h1> call of duty 4 modern warefare</h1>

                    <div class="meta">
                        <h2>release date</h2>
                        <h2>rating</h2>
                        <h2>metacritic score</h2>
                        <h2>platforms</h2>
                        <span> 
                            <h2>rpg</h2>
                            <h2>world war</h2>
                        </span>
                    </div>
                </div>

            </div>
        </section>


    </main>

        <footer>
            <div class="fdiv1">
                <h1>playcave</h1>

                <p> Lorem ipsum, dolor sit amet 
                    consectetur adipisicing elit. 
                    Et id tempore consequatur itaque 
                    repellendus architecto exercitationem 
                    doloremque, maxime ullam delectus
                     explicabo error necessitatibus unde 
                     similique.
                </p>
            </div>

            <div class="fdiv3">
                <!-- <a href=""> about</a>
                <a href=""> privacy</a>
                <a href=""> blogs</a>
                <a href=""> about</a> -->
            </div>

            <div class="fdiv2">
                <a href=""> about</a>
                <a href=""> privacy</a>
                <a href=""> blogs</a>
                <a href=""> about</a>
            </div>
        </footer>

</body>
</html>
