<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>GAMERSHUB | The Ultimate Gaming Destination</title> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <h1>playcave</h1>
        <span>
            <a href="">side quests</a>
        </span>
        <a href="">join the club</a>
    </nav>
    
    <main>

        <section class="top">
            <img src="static\images\Spider-Man.jfif" alt="">
            <div class="cover">

                <div class="info">
                    <h1> call of duty 4 modern warefare</h1>

                    <!-- <div class="meta">
                        <h2>release date</h2>
                        <h2>rating</h2>
                        <h2>metacritic score</h2>
                        
                        <h2>metacritic</h2>
                        <h2>metacritic_url</h2>

                        <h2>website</h2>
                        <h2>platforms</h2>
                        <h2>shop</h2>

                    </div> -->
                </div>

            </div>
        </section>

        <section class="content">
            <div>

                <h1 class="description">description</h1>
                <p>Lorem ipsum dolor sit amet, consectetur 
                    adipisicing elit. Cupiditate unde sapiente
                    doloremque, nisi dicta perspiciatis sequi
                    deserunt quis placeat fugit debitis consequatur
                    qui expedita voluptatum inventore dignissimos
                    voluptas nesciunt ad quaerat odio facilis 
                    exercitationem eveniet quia! Error enim ipsa 
                    veniam temporibus? Provident dignissimos ea 
                    itaque adipisci quam quibusdam veniam culpa 
                    consectetur neque. Officia dolores sapiente
                    esse illo nam molestiae, dolor ut nihil maxime
                    itaque vero incidunt, ipsum et eos obcaecati
                    accusantium nesciunt dolore delectus velit 
                    deleniti commodi consequuntur! Beatae repellat
                    quaerat sed harum maiores blanditiis officiis 
                    est dicta incidunt doloribus fugit quisquam 
                    quidem, tenetur nemo facilis officia possimus 
                    cumque aperiam.
                </p>
            </div>

            <div class="meta2">

                    <h1>released</h1>
                    <h2>10th september, 2013</h2>

                    <h1>to be announced</h1>
                    <h2>true</h2>

                    <h1>rating(5)</h1>
                    <h2>4.5</h2>

                    <h1>playtime</h1>
                    <h2>72 hrs</h2>

                    <h1>metacritic</h1>
                    <h2>98</h2>
                    <h1>metacritic_url</h1>
                    <h2>metacritic.com</h2>

                    <h1>website</h1>
                    <h2>steam.com</h2>
                    <h1>platforms</h1>
                    <h2>xbox, ps4, ps5, pc</h2>
                    
                    <h1>shop</h1>
                    <h2>steam</h2>

                    <h1>series</h1>
                    <h2>1</h2>
                    <h1>audience</h1>
                    <h2>mature</h2>

                    <h1>developers</h1>
                    <h2>rockstar north</h2>
                    <h1>publishers</h1>
                    <h2>rockstar games</h2>

                    <h1>genres</h1>
                    <h2>beat em up, arcade, action</h2>
                    <h1>tags</h1>
                    
            </div>
        </section>`

        <section class="related"> 
            <h1>similar games</h1>

            <div>
                <img src="static\images\This fan-made cinematic poster captures the gritty….jfif" alt="">
                <h2>batman Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem, consequatur?</h2>
            </div>
        </section>


    </main>

        <footer>
            <div class="fdiv1">
                <h1>playcave</h1>

                <p> Lorem ipsum, dolor sit amet 
                    consectetur adipisicing elit. 
                    Et id tempore consequatur itaque 
                    repellendus architecto exercitationem 
                    doloremque, maxime ullam delectus
                     explicabo error necessitatibus unde 
                     similique.
                </p>
            </div>

            <div class="fdiv3">
                <!-- <a href=""> about</a>
                <a href=""> privacy</a>
                <a href=""> blogs</a>
                <a href=""> about</a> -->
            </div>

            <div class="fdiv2">
                <a href=""> about</a>
                <a href=""> privacy</a>
                <a href=""> blogs</a>
                <a href=""> about</a>
            </div>
        </footer>

</body>
</html>
