<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMERSHUB | The Ultimate Gaming Destination</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section class="content">
        <img src="static\images\We track discounts daily! Link in bio_upscayl_3x_upscayl-standard-4x.png" alt="">
            <div >
                <nav>
                    <h1>playcave</h1>
                    <span>
                        <a href="">side quest</a>
                    </span>
                    <a href="">join the club</a>
                </nav>
        
                <h1 class="intro_text">welcome to the play cave</h1>
            
                <p>Lorem ipsum dolor sit amet
                    consectetur adipisicing elit
                    Laudantium pariatur magnam,
                    asperiores eaque totam odio!
                </p>
            </div>
        </section>


        <section class="content2">
            <div>

            </div>
            <div class="center">

                <h1>your gateway to gameplay</h1>
                <form action="">
                    <textarea name="" id="" placeholder="enter a game you like and we'll give you our recommendations "></textarea>
                    <button> let's play</button>
                </form>
            </div>

            <div></div>
        </section>


        <section class="updates">
            <form action="">
                <input type="text" placeholder="join the lobby send us an email...">
                <textarea name="" id="" placeholder="tell us what u think about the site"></textarea>

                <button type="submit"> send </button>
            </form>

            <div> 
                <h1>stay updated</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio dolorum doloremque ex aut molestiae! Officiis itaque dignissimos voluptatem assumenda nostrum?</p>
            </div>
        </section>


        <footer>
            <div>
                <h1>playcave</h1>

                <p> Lorem ipsum, dolor sit amet 
                    consectetur adipisicing elit. 
                    Et id tempore consequatur itaque 
                    repellendus architecto exercitationem 
                    doloremque, maxime ullam delectus
                     explicabo error necessitatibus unde 
                     similique.
                </p>
            </div>
            
            <div>
                <a href=""> about</a>
                <a href=""> privacy</a>
                <a href=""> blogs</a>
                <a href=""> about</a>
            </div>
        </footer>

    </main>
</body>
</html>
