<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAMERSHUB | The Ultimate Gaming Destination</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/news.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <nav>
            <h1>playcave</h1>
            <span>
                <a href="">side quests</a>
            </span>
            <a href="">join the club</a>
        </nav>


       
        <section class="trending">
                <h1>game news update</h1>
                <h2> find out whats bubbling in world of gaming </h2>
            <div>
                <img src="static\images\1142647736720861356.jfif" alt="">
                <span>
                    <h1> spiderman</h1>
                    <p> 12th june, 2026 </p>
                </span>
            </div>

            <div>
                <img src="static\images\910501249688650479.jfif" alt="">
                <span>
                    <h1> spiderman</h1>
                    <p> 12th june, 2026 </p>
                </span>
            </div>   

            <div>
                <img src="static\images\game store concept - Dmitry Reshetnikov.jfif" alt="">
                <span>
                    <h1> new xbox releases</h1>
                    <p> 12th june, 2026 </p>
                </span>
            </div>

        </section>






        <footer>
            <div class="fdiv1">
                <h1>playcave</h1>

                <p> Lorem ipsum, dolor sit amet 
                    consectetur adipisicing elit. 
                    Et id tempore consequatur itaque 
                    repellendus architecto exercitationem 
                    doloremque, maxime ullam delectus
                     explicabo error necessitatibus unde 
                     similique.
                </p>
            </div>

            <div class="fdiv3">
                <!-- <a href=""> about</a>
                <a href=""> privacy</a>
                <a href=""> blogs</a>
                <a href=""> about</a> -->
            </div>

            <div class="fdiv2">
                <a href=""> about</a>
                <a href=""> privacy</a>
                <a href=""> blogs</a>
                <a href=""> about</a>
            </div>
        </footer>

    </main>
</body>
</html>
